In [ ]:
#Downloaded from doug.specht.co.uk/twitter-research

In [11]:
import sys
import json
import re
import numpy as np
from datetime import datetime
import pandas as pd  

tweetfile = 'AllAccounts.csv'

tweets = pd.read_csv(tweetfile)

Please verify that these are the headers to be used: ['from_user', 'created_at']. 'retweets' are taken from the 'text' header where 'RT @' is mentioned.

In [12]:
# 1. Export edges from Retweets

tweets['retweets'] = tweets['text'].str.extract('RT @([a-zA-Z0-9]\w{0,}):', expand=True)

edges = tweets[['from_user', 'retweets','created_at']]
edges.columns = ['Source', 'Target', 'Strength']

In [13]:
strengthLevel = 3  # Network connection strength level: the number of times in total each of the tweeters responded to or mentioned the other.
                   # If you have 1 as the level, then all tweeters who mentioned or replied to another at least once will be displayed. But if you have 5, only those who have mentioned or responded to a particular tweeter at least 5 times will be displayed, which means that only the strongest bonds are shown.

edges2 = edges.groupby(['Source','Target'])['Strength'].count()
edges2 = edges2.reset_index()
edges2 = edges2[edges2['Strength'] >= strengthLevel]

Please verify that these are the headers to be used: ['from_user','user_followers_count','user_friends_count']

In [14]:
# Export nodes from the edges and add node attributes for both Sources and Targets.

users = tweets[['from_user','user_followers_count','user_friends_count']]
users = users.sort_values(['from_user','user_followers_count'], ascending=[True, False])
users = users.drop_duplicates(['from_user'], keep='first') 

ids = edges2['Source'].append(edges2['Target']).to_frame()
ids['Label'] = ids
ids.columns = ['from_user', 'Label']
ids = ids.drop_duplicates(['from_user'], keep='first') 
nodes = pd.merge(ids, users, on='from_user', how='left')

In [15]:
print(nodes.shape)
print(edges2.shape)

(102, 4)
(136, 3)

In [16]:
# change column names for Kumu import (Run this when using Kumu)
edges2.columns = ['Source','Target','Strength']
nodes.columns = ['Id', 'Label', 'user_followers_count', 'user_friends_count']

In [17]:
# print edges to check 
edges2

             Source          Target  Strength
2      AdolfoAriza1   MaipuAsamblea         4
4      AdrianaArach      ConSol_ONG        22
11     AguaHijosdel      ConSol_ONG         3
12     AguaHijosdel   MaipuAsamblea         4
14     AguaHijosdel  tunuyanxelagua         5
..              ...             ...       ...
643         silzu04   MaipuAsamblea         4
652  tunuyanxelagua   MaipuAsamblea         3
657     uacdetrelew   MaipuAsamblea         4
669      zalcostado   MaipuAsamblea         3
670      zalcostado  tunuyanxelagua         6

[136 rows x 3 columns]

In [18]:
# print nodes to check
nodes

,Id,Label,user_followers_count,user_friends_count
0,AdolfoAriza1,AdolfoAriza1,282.0,840
1,AdrianaArach,AdrianaArach,136.0,196
2,AguaHijosdel,AguaHijosdel,24.0,75
3,AnaMariaSabio2,AnaMariaSabio2,3.0,23
4,AsambleaporelAg,AsambleaporelAg,4926.0,1035
...,...,...,...,...
97,zalcostado,zalcostado,263.0,228
98,ConSol_ONG,ConSol_ONG,3484.0,756
99,Morriga91945886,Morriga91945886,81.0,192
100,ElbaLedesma,ElbaLedesma,307.0,997
101,marceloromano11,marceloromano11,1869.0,1705

In [19]:
# Export nodes and edges to csv files
nodes.to_csv('nodes_retweet.csv', encoding='utf-8', index=False)
edges.to_csv('edges_retweet.csv', encoding='utf-8', index=False)